@font-face
	font-family gothicM
	src url(../fonts/gothic.otf)
	font-style normal
@font-face
	font-family helveticaL
	src: url('../fonts/Helvetica/HelveticaNeue-Light.woff');
	font-weight: 300;
	font-style: normal;
@font-face
	font-family helveticaR
	src url(../fonts/HelveticaNeue.woff)
	font-style normal

$block = 35
$marginNavItem = 5px
// container bootstrap
a
	text-decoration none
	&:hover
		text-decoration none
button:focus
	outline none
ul
	list-style-type none
.rel
	position relative
.container
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
@media (min-width: 576px)
	.container
		padding-left 30px
		padding-right 30px
@media (min-width: 768px)
	.container
		padding-left 40px
		padding-right 40px
@media (min-width: 1084px)
	.container
		padding-left 84px
		padding-right 84px
		
@media (min-width: 1280px)
	div.wrapper-desc-product
		width 20.7%
	div.content-single
		width 79.3%
	div.filter-archive
		width 10.3%
	div.collection-archive
		width 89.7%
	.container
		width unset
		// padding-left 45px
		// padding-right 45px
	.collection-archive
		padding-right 87px
@media (min-width: 1400px)
	.container
		width 1265px
		padding-left 0
		padding-right 0
				

*, *:before, *:after
	box-sizing: border-box;
	
.description-helv
	font-family helveticaL
	color black
	font-size 12px
	letter-spacing 1px
	font-weight 500
.img100
	width 100%
	height auto

// navbar
header
	position fixed
	padding 50px 0
	width 100%
	z-index 100
	top 0
	nav
		.nav-up
			li:first-child,li:last-child
				a
					font-family gothicM
					font-size 30px
		ul
			margin 0
			display flex
			flex-direction row
			list-style-type none
			align-items baseline
			padding 0
			justify-content center
			li
				a
					font-size 28px
					font-family helveticaL
					color black
					margin-left $marginNavItem
					margin-right $marginNavItem
					&.active
						color black
					&:after
						font-family helveticaL
						color black
						content ','
				&:first-child
					a
						&:after
							display none
				&:last-child
					a
						&:after
							display none
						
			&.nav-bottom
				li
					a
						font-size 30px
						color black
						font-family gothicM
						letter-spacing -1.5px
						span.cart-count
							font-size 23px
					&:first-child
						a:after
							display inline
.nav-up
	position relative
	span
		position absolute
		font-family gothicM
		font-size 26px
		text-decoration none
		color black
		left 0
		top 0

section
	padding 35px 0 70px
button
	background rgba(0,0,0,0)
	border none
	box-shadow none
.content
	margin-top 170px
	opacity 0
.nav-item
	opacity 0
#velvet,#shop
	opacity 1
// hero
.container-hero
	display flex
.hero
	width 100%
	height auto
.image-hero
	width 100%
.caption-hero
	margin 0
	margin-top 10px
	padding-right 25px
	line-height 16px
	a.arrow
		display inline-block
		position: relative;
		width: 50px;
		height: 8px;
		background url(../img/arrow.svg)
		background-size contain
		background-repeat no-repeat
.link-caption
	font-size 14px
	font-family gothicM
	color inherit
	text-decoration underline
	letter-spacing 0
	&:hover
		text-decoration underline
.wrapper-img-hero
	a
		display block
		
// grid container
.container-grid
	display flex
	flex-wrap wrap
	margin -21px
	&:after
		content: "";
		flex: auto;
.item-grid
	width 10%
	height auto
.image-grid
	width 100%
.link-grid
	display block
	padding 21px

// carousel home
.counter-carousel
	font-family helveticaL
	font-size 12px
	display flex
	justify-content flex-end
	width 100%
	position relative
	span
		&:first-child
			text-decoration underline
.item-hero-carousel
	.caption-hero
		padding-right 50px
// container-full height
section.full
	padding-bottom 35px
.container-full
	height 100vh
	width 100%
	margin-top -205px
	position relative
.container-content-full
	height 100%
	position relative
.cover-img
	object-fit cover
	height 100vh
	width 100%
	position absolute
	left 0
	top 0
.wrapper-content-full
	position absolute
	bottom 0
	left 0
	z-index 5
	padding-bottom: 35px;
	a
		font-family gothicM
		font-size 14px
		color black
		img
			transition all .25s ease
		&:hover
			img
				transform translateX(10px)
.text-full
	margin 0
	
// archive && single
.wrapper-archive,.wrapper-product
	display flex
	margin-bottom 30px
.filter-archive
	width 15%
	padding-right 20px
	z-index 101
	h3
		font-family gothicM
		font-size 13px
		margin 0
.wrapper-desc-product
	//width 30%
	width 20%
	padding-right 20px
	z-index 101
.collection-archive
	width 85%
	display flex
	flex-wrap wrap
	margin -22px
.content-single
	//width 70%
	width 80%
	padding 0 31% 0 10.3%
	figure
		margin 0 0 44px
		&:first-child
			margin-top 0
		img
			width 100%
			height auto
.item-archive
	width 33.3333333333%
	padding 22px
	img
		width 100%
.name,.price
	display block
	margin 10px 0
.name
	font-family gothicM
	font-size 14px
	color black
.price
	font-family helveticaL
	font-size 12px
	color black
.group-filter
	margin 20px 0
	&:not(:first-of-type)
		margin-top 0
	&:last-child
		margin-bottom 0
	ul
		margin 0
		padding 0
		li
			font-size 13px
			font-family gothicM
			color black
			letter-spacing 1px
			margin 7px 0
			label
				display block
				position relative
				user-select none
				padding-left 20px
				input
					opacity: 0;
					cursor: pointer;
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					height: 100%;
					width: 80px;
					&:checked
						~ span
							background black
				span
					position: absolute;
					top: 45%;
					transform: translateY(-50%);
					left: 0;
					height: 12px;
					width: 12px;
					background-color: rgba(0,0,0,0);
					border 1px solid black
					cursor pointer
					transition all .25s ease
			a
				font-size 13px
				font-family gothicM
				color black
				letter-spacing 1px
				&:hover
					text-decoration underline
.name-product
	margin-top 0
	font-family gothicM
	font-size 14px
.desc-product
	font-family helveticaL
	font-size 12px
	letter-spacing 1px
	line-height 18px
.size-product
	margin 0
	span
		margin-right 5px
.select-size-product
	font-size 12px
	font-family helveticaL
	padding 0
	display block
	letter-spacing 1px 
	&:hover
		text-decoration underline
		cursor pointer
.add-btn
	font-size 14px
	background white
	color black
	border 1px solid black
	padding 15px 30px
	transition all .25s ease
	&:hover
		cursor pointer
		border-radius 15px
.price-wrapper
	display flex
	flex-direction column
	justify-content space-around
	height 200px
.util-product
	display flex
	flex-direction column
	margin-top 50px
	ul
		margin 0
		padding 0
	a
		font-size 12px
		letter-spacing 1px
		font-family helveticaL
		color gray
		line-height 18px
		&:hover
			text-decoration underline
.direction-product
	display flex
	margin 88px 0 0
	justify-content space-between
	.left,.right
		width 45%
		display flex
		a
			font-size 12px
			font-family helveticaL
			letter-spacing 1px
			color black
	.left
		justify-content flex-end
.wrapper-similar-product
	display flex
	margin 0 -21px
	margin-top 44px
.similar-product
	margin 0 21px
	a
		position relative
		display block
		&:after
			width 100%
			content ''
			position absolute
			height calc(100% - 4px)
			top 0
			left 0
			transition all .25s ease
			opacity 0
			background rgba(0,0,0,0.5)
		&:hover
			&:after
				opacity 1
		
// divider
.divider
	width 100%
	height 1px
	background rgba(0,0,0,0.5)
// footer
.wrapper-footer-left
	display flex
	flex-direction column
	.description-helv
		line-height 20px
.wrapper-content-footer
	margin-bottom 12px
	h3
		margin 10px 0
		&:last-child
			margin 30px 0
	ul
		margin 0
		padding 0
		a:hover
			text-decoration underline
	form
		width 265px
		input,label
			font-size 12px
			font-family helveticaL
		label
			display block
			position relative
			user-select none
			margin-bottom 3px
			padding-left 25px
			input
				opacity: 0;
				cursor: pointer;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				height: 100%;
				width: 80px;
				&:checked
					~ span
						background black
			span
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				height: 12px;
				width: 12px;
				background-color: rgba(0,0,0,0);
				border 1px solid black
				cursor pointer
				transition all .25s ease
		div
			position relative
			width 265px
			margin-top 10px
			border-bottom 1px solid black
			button
				position absolute
				right 0
				bottom 0
				background white
				padding-top 10px
				padding-bottom 10px
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			input
				width 200px
		input[type='checkbox']
				background rgba(0,0,0,0)
		input
			border none
			padding 10px 10px 10px 0
			&:focus
				outline none
		

// -----------------------------------------------------------------------------------------------------------
@media (max-width: 1280px)
	header
		nav
			ul
				flex-wrap wrap
@media (max-width: 1084px)
	.wrapper-content-full
		padding 45px
	.item-grid
		width 20%
	.content-single
		width 70%
		padding 0 20% 0 5%
	.wrapper-desc-product
		width 30%
	.collection-archive
		width 80%
	.filter-archive
		width 20%
		
	

@media (max-width: 768px)
	.content-single
		width 100%
		padding 0
	.wrapper-desc-product
		display none
	.wrapper-archive
		flex-wrap wrap
	.item-archive
		width 50%
		padding 15px
	.collection-archive
		width calc(100% + 30px)
		margin -15px
	.filter-archive
		//width 100%
		display none
	.wrapper-content-full
		padding 35px
	.item-grid
			width 25%
	
@media (max-width: 576px)
	.wrapper-similar-product
		flex-wrap wrap
		margin 0 -20px
	.similar-product
		width 50%
		margin 0
		padding 20px
	.wrapper-content-full
		padding 30px
	.container-full
		margin-top -190px
	.wrapper-content-footer
		form
			width 100%
			div
				width 100%
				input
					width calc(100% - 75px)
	header
		padding 30px 0
		nav
			.nav-up
				justify-content flex-start
				li
					a
						font-size 20px
					&:first-child,&:last-child
						a
							font-size 22px
			ul.nav-bottom
				justify-content flex-start
				li
					a
						font-size 20px
						span.cart-count
							font-size inherit
	section
		padding 20px 0
	.link-grid
		padding 15px
	.container-grid
		margin -15px
	.item-grid
		width 50%
	.container-hero
		flex-wrap wrap
	.hero:last-child
		margin-top 35px
	.hero:first-child
		margin-top 0